/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* OTHER SETTINGS */

img { 
    max-width: 100%;    
}

h1, h2, h2 {
    color: rgb(8, 228, 8);
}

body { 
    background-color: rgb(2, 2, 153);
    font-family: Fredoka;
}

main {padding-top: 7rem;}

.main-title {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    padding-bottom: 50px;
}

/* CONTAINER */

.container {
    width: 60%;
    margin: 0 auto;

}

/* COLUMS */

.col {
    padding: 10px 20px;
    float: left;
    width: calc(100% / 3);
    
    
    
}

.cards img {
    height: 100px;
    float: left;
 
  
    
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.cards
{ background-color: rgb(56, 184, 184);
  min-height: 100px;
  text-align: center;


}
